MONGODB_URI=mongodb://localhost:27017
DB_NAME=JurisJunction
PORT=5217
ACCESS_TOKEN_EXPIRY=1d
ACCESS_TOKEN_SECRET=Medha1010
REFRESH_TOKEN_EXPIRY=10d
REFRESH_TOKEN_SECRET=Medha_Refreshed
CORS_ORIGIN=http://localhost:3000
GOOGLE_CLIENT_ID= clientid
GOOGLE_CLIENT_SECRET= googleSecret